Source: raspberrystem
Maintainer: Scott Silver Labs LLC <bri@raspberrystem.com>
Build-Depends: python3, python3-pip
Homepage: <http://github.com/scottsilverlabs/raspberrystem>

Package: raspberrystem
Architecture: all
