SUBSYSTEM=="gpio", ACTION=="add", PROGRAM="/bin/sh -c 'chown -R pi:pi /sys%p'"
SUBSYSTEM=="module", KERNEL=="i2c_bcm2708", ACTION=="add", PROGRAM="/bin/sh -c 'chown -R pi:pi /sys%p'"
SUBSYSTEM=="misc", KERNEL=="uinput", GROUP="pi", MODE="0666"
KERNEL=="i2c-[0-9]*", GROUP="pi", MODE="0666"
