include rstem/accel.c
include rstem/gpio/pullup.sbin.c
include rstem/gpio/pullup.sbin
include rstem/led_matrix/led_server.c
recursive-include rstem/led_matrix/font *
include README.md
include LICENSE
include pkg/postinstall
include pkg/install_include.txt
include pkg/postinstall
include pkg/90-raspberrystem.rules